<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aliendroid.covid17">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.aliendroid.covid17.Ui.MainActivity"></activity>
        <activity android:name="com.aliendroid.covid17.Ui.ProvinsiActivity"></activity>
        <activity android:name="com.aliendroid.covid17.Ui.GlobalActivity"></activity>

        <activity android:name="com.aliendroid.portal.PortalActivity"></activity>
        <activity android:name="com.aliendroid.portal.DetailActivity"></activity>
        <activity android:name="com.aliendroid.tescovid.GameActivity"></activity>

        <activity android:name="com.aliendroid.covid17.Ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>